.pizzas-to-buy {
  position: relative;
  width: 70rem;
  height: 21.875rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  margin-bottom: 12.0625rem;
}

/* LA CUMA */

.la-cuma {
  position: relative;
  width: 16rem;
  height: 17.1875rem;
  border-radius: 25px;
  background-color: var(--pink);
  text-align: center;
}

.la-cuma > img {
  position: relative;
  top: -3.4375rem;
}

.la-cuma > h4 {
  margin-top: -2.1875rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.la-cuma > span {
  width: 11.25rem;
  height: 3.75rem;
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.la-cuma > h3 {
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.la-cuma > button { 
  padding: 8px 2rem;
  font-weight: 600;
  font-size: 0.75rem;
}



/* LA MENTA */

.la-menta {
  width: 16rem;
  height: 17.1875rem;
  border-radius: 25px;
  background-color: var(--pink);
  text-align: center;
}

.la-menta > img {
  position: relative;
  top: -3.4375rem;
}

.la-menta > h4 {
  margin-top: -2.1875rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.la-menta > span {
  width: 11.25rem;
  height: 3.75rem;
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.la-menta > h3 {
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.la-menta > button { 
  padding: 8px 2rem;
  font-weight: 600;
  font-size: 0.75rem;
}


/* LA BANA */

.la-bana {
  width: 16rem;
  height: 17.1875rem;
  border-radius: 25px;
  background-color: var(--pink);
  text-align: center;
}

.la-bana > img {
  position: relative;
  top: -3.4375rem;
}

.la-bana > h4 {
  margin-top: -2.1875rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.la-bana > span {
  width: 11.25rem;
  height: 3.75rem;
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.la-bana > h3 {
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.la-bana > button {
  padding: 8px 2rem;
  font-weight: 600;
  font-size: 0.75rem;
}



/* LA TOCA */


.la-toca {
  width: 16rem;
  height: 17.1875rem;
  border-radius: 25px;
  background-color: var(--pink);
  text-align: center;
}

.la-toca > img {
  position: relative;
  top: -3.4375rem;
}

.la-toca > h4 {
  margin-top: -2.1875rem;
  margin-bottom: 0.5rem;
  font-size: 1.125rem;
}

.la-toca > span {
  width: 11.25rem;
  height: 3.75rem;
  color: var(--gray);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.25rem;
}

.la-toca > h3 {
  margin-top: 1.75rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
}

.la-toca > button {
  padding: 8px 2rem;
  font-weight: 600;
  font-size: 0.75rem;
}