* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

:root {
  --green: #5C913B;
  --red: #CF3031;
  --yellow: #FFA200;
  --pink: #FFD4C9;
  --white: #FEF6F4;
  --gray: #616161;
  --dark-gray: #2E2E2E;
}



/* Colored letters */

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}


/* Images around the page */

.plant {
  position: absolute;
  top: 460.9px;
  left: -1px;
  filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.24));
}
