* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --green: #5C913B;
  --red: #CF3031;
  --yellow: #FFA200;
  --pink: #FFD4C9;
  --white: #FEF6F4;
  --gray: #616161;
  --dark-gray: #2E2E2E;
}


body, input, textarea, button {
  font: 300 1rem 'Sora', sans-serif;
}

button {
  background: #FFA200;
  border-radius: 25px;
  border: none;
  cursor: pointer;
}

html, body {
  height: 100vh;
}

@media(max-width: 1080px) {
  html {
      font-size: 93.75%;
  }
}

@media(max-width: 720px) {
  html {
      font-size: 87.5%;
  }
}

/* Colored letters */

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow);
}

.green {
  color: var(--green);
}


/* Images around the page */

.plant {
  position: absolute;
  top: 460.9px;
  left: -1px;
  filter: drop-shadow(1px 5px 10px rgba(0, 0, 0, 0.24));
}